<h3>Welcome to app</h3>

<div class="post-list-container">
    <% if(locals.user){ %>
    <ul>
        
        <%  for(post of posts) {%>
            <li>
                <%= post.content %>
            <br>
                <%= post.user.name %>
            </li>
            
            <%}%>
    </ul>
    <%}%>
</div>