<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" required placeholder="Enter your Name">
    <input type="email" name="email" required placeholder="Enter your email">
    <input type="password" name="password" required placeholder="Password">
    <input type="password" name="password1" required placeholder="confirm password">
    <button type="submit">Enter</button>
</form>