#master-home {
  display: flex; }
  #master-home a {
    text-decoration: none; }
  #master-home #post {
    width: 70%;
    padding: 10px;
    margin: 0%; }
  #master-home #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid green; }
