<div>
    <p>
        Hi! <%=comment.user.name%> we are from Social website.
    </p>
    <p style="color:saddlebrown; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: medium;">
        Just wanted to confirm that you commented on a post
    </p>
    <p>Your comment is <strong> <%=comment.content%> </strong></p>
    <p>Your comment was published successfully</p>
    <br>
    <br>
    <p>Thanks for being with us!!</p>
</div>