header{
    background-color: beige;
    height: auto;
    width: auto;
    align-self:center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    // margin: -1%;
    ul{
        li{
            display: inline-block;
            margin-right: 1rem;
            a{
                text-decoration: none;
            }
        }
    }
}